.card {
    height: 10rem;
    position: relative;
    backface-visibility: hidden;
    &>* {
        height: 100%;
        width: 100%;
        position: absolute;
        backface-visibility: hidden;
        transition: all 0.75s;
    }
    &__front {
        background-color: green;
    }
    &__back {
        background-color: orangered;
        transform: rotateY(-180deg);
    }
    &:hover>&__front {
        transform: rotateY(180deg);
    }
    &:hover>&__back {
        transform: rotateY(0);
    }
}