    @import '../abstracts/variables';
    @import '../abstracts/animations';
    .btn {
        font-size: 1rem;
        min-width: 9.375rem;
        padding: 0.625rem;
        border: 0;
        position: relative;
        display: inline-block;
        &--text {
            border-bottom: 2px solid $colorPrimary;
            color: $colorPrimary;
            transition: all 0.1s;
            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 5px 10px rgba($colorBlack,0.4);
                background-color: $colorPrimary;
                color: #fff;
                border-bottom: 2px solid darken($color:$colorPrimary,$amount:30%);
            }
            &:active{
                transform: translateY(2px);
            }
        }
        &--white {
            background-color: $colorWhite;
            &::after {
                content: "";
                background-color: inherit;
            }
        }
        &--round {
            border-radius: 6.25rem;
            &::after {
                border-radius: 6.25rem;
            }
        }
        &--animated {
            transition: all 0.1s;
            box-shadow: 0 4px 20px 0px $colorGrayLight;
            &:active {
                transform: translateY(2px)
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            &:hover::after {
                animation: growOut $fastAnimationDuration ease-out;
            }
        }
    }