@import '../abstracts/variables';
@import '../abstracts/animations';
.header {
    background: url(../../assets/img/header.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right, rgba($colorPrimaryLight, 0.8), rgba($colorPrimary, 0.8), rgba($colorPrimaryLight, 0.8));
    } // &__logo {
    //     position: absolute;
    //     top: 5%;
    //     width: 3.75rem;
    //     height: 2.5rem;
    //     text-align: center;
    //     background: url(../../assets/img/crown.png);
    //     background-size: cover;
    // }
    &__info {
        color: $colorWhite;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        backface-visibility: hidden;
        &--primary-text {
            letter-spacing: 0.5rem;
            animation: moveInLeft $animationDuration ease-in;
        }
        &--secondary-text {
            font-size: 2rem;
            letter-spacing: 0.2rem;
            animation: moveInRight $animationDuration ease-in;
        }
        &--button {
            & button {
                margin-top: 1.25rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: $colorPrimary;
            }
        }
    }
}
