@import '../abstracts/mixins';
@import '../abstracts/variables';
.container{
    max-width: $gridWidth;
    margin: 0 auto;
    .row {
        padding: $rowPadding;
        &:not(:last-child){
            margin-bottom: $gutterHeight;
        }
        [class*="col-"] {
            float: left;
            &:not(:last-child) {
                margin-right: $gutterWidth;
            }
        }
        @include clearfix;
        .col-12 {
            @include calculateColWidth($numberOfCols: 12);
        }
        .col-11 {
            @include calculateColWidth($numberOfCols: 11);
        }
        .col-10 {
            @include calculateColWidth($numberOfCols: 10);
        }
        .col-9 {
            @include calculateColWidth($numberOfCols: 9);
        }
        .col-8 {
            @include calculateColWidth($numberOfCols: 8);
        }
        .col-7 {
            @include calculateColWidth($numberOfCols: 7);
        }
        .col-6 {
            @include calculateColWidth($numberOfCols: 6);
        }
        .col-5 {
            @include calculateColWidth($numberOfCols: 5);
        }
        .col-4 {
            @include calculateColWidth($numberOfCols: 4);
        }
        .col-3 {
            @include calculateColWidth($numberOfCols: 3);
        }
        .col-2 {
            @include calculateColWidth($numberOfCols: 2);
        }
        .col-1 {
            @include calculateColWidth($numberOfCols: 1);
        }
    }
}
