@keyframes moveInLeft {
    0% {
        transform: translateX(-6.25rem);
    }
    70% {
        transform: translateX(0.625rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(6.25rem);
    }
    70% {
        transform: translateX(-0.625rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes growOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.7, 1.2);
    }
}

