@import 'variables';
@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin calculateColWidth($numberOfCols) {
    width: calc((#{$numberOfCols} * (100% - (11 * #{$gutterWidth}))/12) + (#{$numberOfCols} - 1) * #{$gutterWidth});
}

@mixin headingTextStyle {
    background: linear-gradient(to right, $colorPrimaryLight, $colorPrimary);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}