@import 'variables';
@import 'mixins';
body {
    color: #949494;
}

[class*="heading-"]{
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}
.heading-primary {
    font-size: 3rem;
}

.heading-secondary {
    font-size: 2rem;
    @include headingTextStyle;
}

.heading-tertiary {
    font-size: 1.3rem;
    color: $colorGrayDark;
}

.paragraph{
    &:not(:last-child){
        margin-bottom: 2rem;
    }
}