.center-text{
    text-align: center;
}



.margin-bottom-small{
    margin-bottom:2rem;
}

.margin-bottom-medium{
    margin-bottom:3rem;
}

.margin-bottom-large{
    margin-bottom:4rem;
}



.margin-top-small{
    margin-top:2rem;
}

.margin-top-medium{
    margin-top:3rem;
}

.margin-top-large{
    margin-top:4rem;
}
