// COLORS
$colorPrimary:#b26a9d;
$colorPrimaryLight: #dfcdcd; // lighten($color:$colorPrimary, $amount:25%);
$colorWhite: #eee;
$colorBlack:#000;
$colorGrayLight: #f7f7f7;
$colorGrayDark: #777;
// ANIMATION DURATION
$animationDuration: 1s;
$fastAnimationDuration:0.6s;
$clickAnimationDuration:100ms;
// GRID
$gutterWidth:1rem;
$gridWidth:71.25rem;
$gutterHeight: 1rem;
$rowPadding: 1rem;