@import '../../scss/components/header';
@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/animations';
.about {
    background-color: $colorGrayLight;
    padding: 20vh 0;
    margin-top: -20vh;
    &__heading {
        & h2 {
            transition: 0.2s all;
            &:hover {
                transform: skew(10deg, 2deg);
                text-shadow: -10px 10px 5px rgba($colorBlack, 0.2);
            }
        }
    }
    &__info {
        &--images {
            // &:hover img:not(:hover) {
            //     transform: scale(0.9);
            // }
            position: relative;
            & img {
                position: absolute;
                width: 55%;
                box-shadow: 0 0.625rem 0.625rem rgba($colorBlack, 0.4);
                border-radius: 6px;
                transition: all 0.1s;
            }
            & img:hover {
                z-index: 1;
                // outline: 10px solid $colorPrimary;
                // outline-offset: 10px;
                transform: scale(1.1) translateY(0.5rem);
                box-shadow: 0 0.625rem 0.625rem 0.625rem rgba($colorBlack, 0.5);
            }
            &-p1 {
                top: -2rem;
                left: 0;
            }
            &-p2 {
                top: 2rem;
                right: 0;
            }
            &-p3 {
                top: 100px;
                left: 20%;
            }
        }
    }
}

.feature {
    background: linear-gradient(to bottom right, rgba($colorPrimaryLight, 0.8), rgba($colorPrimary, 0.8), rgba($colorPrimaryLight, 0.8)), url(../../assets/img/header.jpg);
    background-size: cover;
    position: relative;
    transform: skewY(-7deg) translateY(-8.5vh);
    padding: 5rem 0;
    &__container {
        transform: skewY(7deg);
        .feature__box {
            width: 75%;
            height: 16rem;
            overflow-y: hidden;
            border-radius: 4px;
            box-shadow: 10px 10px 10px rgba($colorBlack, 0.4);
            padding: 0.5rem;
            background: rgba(lighten($color:$colorGrayLight, $amount:20%), 0.85);
            transition: all 0.1s;
            &--icon,
            &--heading {
                text-align: center;
            }
            &:hover {
                transform: translateY(-1rem) scaleX(1.05);
                box-shadow: 15px 15px 15px rgba($colorBlack, 0.4);
            }
        }
    }
}

.packages{
    
}