<header class="header">
  <div class="header__logo">
  </div>
  <div class="header__info">
    <div class="header__info--primary-text heading-primary">
      On earth there is no heaven
    </div>
    <div class="header__info--secondary-text">
      but there are pieces of it.
    </div>
    <div class="header__info--button">
      <button class="btn btn--white btn--round btn--animated">Let's find them</button>
    </div>
  </div>
</header>
<main>
  <section class="about">
    <div class="about__heading center-text margin-bottom-medium">
      <h2 class="heading-secondary">
        Exciting tours for adventurous people
      </h2>
    </div>
    <div class="about__info">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3 class="heading-tertiary margin-bottom-small">You're going to fall in love with nature</h3>
            <p class="paragraph">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores deleniti ut saepe eum iure corrupti ea minima. Dolor velit
              officia non impedit quasi ex odit! Possimus quos ipsum itaque! Optio? Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Tempore quaerat numquam nesciunt fugiat mollitia culpa fugit. Optio distinctio, nesciunt
              omnis modi repellendus, laborum corrupti saepe magni neque, voluptatem accusamus suscipit.
            </p>

            <h3 class="heading-tertiary margin-bottom-small">Live adventures like never before</h3>
            <p class="paragraph">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores deleniti ut saepe eum iure corrupti ea minima. Dolor velit
              officia non impedit quasi ex odit! Possimus quos ipsum itaque! Optio? Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Tempore quaerat numquam nesciunt fugiat mollitia culpa fugit. Optio distinctio, nesciunt
              omnis modi repellendus, laborum corrupti saepe magni neque, voluptatem accusamus suscipit.
            </p>
            <button class="btn btn--text">Learn more &rarr;</button>
          </div>
          <div class="col-6">
            <div class="about__info--images">
              <img src="assets/img/flowers_1.jpg" alt="" class="about__info--images-p1">
              <img src="assets/img/flowers_2.jpg" alt="" class="about__info--images-p2">
              <img src="assets/img/flowers_3.jpg" alt="" class="about__info--images-p3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="feature">
    <div class="feature__container">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="feature__box">
              <div class="feature__box--icon">
                <i>icon</i>
              </div>
              <div class="feature__box--heading">
                <h3 class="heading-tertiary">Feature 1</h3>
              </div>
              <div class="feature__box--info">
                <p class="paragraph">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
                  maxime cupiditate
                </p>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="feature__box">
              <div class="feature__box--icon">
                <i>icon</i>
              </div>
              <div class="feature__box--heading">
                <h3 class="heading-tertiary">Feature 1</h3>
              </div>
              <div class="feature__box--info">
                <p class="paragraph">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
                  maxime cupiditate
                </p>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="feature__box">
              <div class="feature__box--icon">
                <i>icon</i>
              </div>
              <div class="feature__box--heading">
                <h3 class="heading-tertiary">Feature 1</h3>
              </div>
              <div class="feature__box--info">
                <p class="paragraph">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
                  maxime cupiditate
                </p>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="feature__box">
              <div class="feature__box--icon">
                <i>icon</i>
              </div>
              <div class="feature__box--heading">
                <h3 class="heading-tertiary">Feature 1</h3>
              </div>
              <div class="feature__box--info">
                <p class="paragraph">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
                  maxime cupiditate
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
  <section class="packages">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <app-card>
            <div front>Thie is front side</div>
            <div back>Thie is back side</div>
          </app-card>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card__front">Front</div>
            <div class="card__back">Back</div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card__front">Front</div>
            <div class="card__back">Back</div>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>
<footer>

</footer>