/* You can add global styles to this file, and also import other style files */

@import 'scss/components/button';
@import 'scss/abstracts/typography';
@import 'scss/abstracts/utilities';
@import 'scss/layouts/grid';
@font-face {
    font-family: 'IndieFlower';
    src: url(assets/fonts/IndieFlower.ttf);
}

html {
    font-size: 16px;
}

@media screen and (max-width:400px) {
    html {
        font-size: 14px;
    }
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: 'IndieFlower', cursive;
    margin: 1.3rem;
    user-select: none;
}

input,
button,
select,
textarea {
    font-family: inherit;
}